PORT=

JWT_SECRET=
JWT_ACCESS_EXPIRY=
JWT_REFRESH_EXPIRY=

DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USER=
DB_PASSWORD=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER=

FRONTEND_URL=
MAX_TASK_COUNT=

REDIS_HOST=
REDIS_PORT=

TWILLIO_SID=
TWILLIO_TOKEN=
TWILLIO_FROM=

TINY_URL_TOKEN=